{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "target": {
            "browsers": "> 5%",
            "node": true
          }
      }
    ],
    "react"
  ],
  "plugins": [
    ["transform-class-properties"],
    ["transform-object-rest-spread"],
    ["syntax-dynamic-import"]
  ],
  "env": {
      "development": {
        "plugins": [
          "react-hot-loader/babel"
        ]
      },
      "test": {
        "plugins": [
          ["transform-es2015-modules-commonjs"],
          ["dynamic-import-node"]
        ]
      }
    }
}
