{
  "presets": [
    [
      "env",
      {
        "target": {
            "browsers": "> 5%",
            "node": true
          }
      }
    ],
    "react"
  ],
  "plugins": [
    ["transform-class-properties"],
    ["transform-object-rest-spread"]
  ],
  "env": {
      "development": {
        "plugins": [
          "react-hot-loader/babel"
        ]
      }
    }
}
