<!DOCTYPE html>
<html>
  <head>
    <title>Using server side render with webpack-dev-middleware</title>
    <%- styles %>
  </head>
  <body>
    <div id="app">
      <%- html %>
    </div>
    <%- scripts %>
  </body>
</html>
